*{
  margin: 0;
  padding: 0;
}

html, body {
  font-family: sans-serif;
}

header {
  padding: 0 1em;
  color: white;
  background-color: #422;
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(86,43,43)), color-stop(1, rgb(198,89,48)));
  background-image: -moz-linear-gradient( center bottom, rgb(86,43,43) 0%, rgb(198,89,48) 100%);
  overflow: hidden;
  position: absolute;
  height: 9em;
  top: 0;
  left: 0;
  right: 0;
}

header img {
  margin: 0;
  padding: 1em 0 2em;
}

nav {
  padding: 0.5em 0 0.2em;
  position: relative;
  bottom: 0.8em;
}

nav ul {
  display: block;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0.3em;
  padding: 0.6em;
  background-color: black;
  /* Border-radius */  
  border-top-left-radius: 0.6em;  
  border-top-right-radius: 0.6em;  
  -moz-border-radius-topleft: 0.6em;  
  -moz-border-radius-topright: 0.6em;  
  -webkit-border-top-left-radius: 0.6em;  
  -webkit-border-top-right-radius: 0.6em;  
  /*Gradient */
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.13, #333), color-stop(1, #505050));
  background-image: -moz-linear-gradient( center bottom, #333 13%, #505050 100%);
}

nav ul li a {
  text-decoration: none;
  color: #aaa;
}

nav ul li:hover,
nav ul li.selected {
  /*Gradient */
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.13, #000), color-stop(1, #333));
  background-image: -moz-linear-gradient( center bottom, #000 13%, #333 100%);
}

nav ul li:hover a,
nav ul li.selected a {
  color: #fff;
}

#map {
  position: absolute;
  top: 9em;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
}

#about {
  padding: 10em 1em 1em;
  color: black;
}

p {
  margin: 1em 0;
}

a {
  color: inherit;
  text-decoration: inherit;
  border-bottom: 1px dotted;

}
